@model IEnumerable<Final_Project.Models.Appointment>

@{
    ViewData["Title"] = "Appointments";
}

<h2>Appointment Management</h2>

@* <p>
    <a asp-action="Create" class="btn btn-primary">Create New Appointment</a>
</p>
 *@
<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Search" value="@ViewData["GetAppDetails"]" name="Appsearch" style="width:25%; border-radius:5px; box-shadow:3px 3px 5px grey; margin-right:5px" />
        <input type="submit" value="Search" class="btn btn-primary"/> | 
        <a asp-action="Index" class="btn btn-secondary"> Get All Appointments</a>
    </p>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Appointment Title</th>
            <th>Description</th>
            <th>Start Date & Time</th>
            <th>End Date & Time</th>
            <th>Location</th>
            <th>Attendees</th>
            <th>Customer</th>
            <th>Associated Task</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AppTitle</td>
                <td>@item.Description</td>
                <td>@item.StartDateTime</td>
                <td>@item.EndDateTime</td>
                <td>@item.Location</td>
                <td>@item.Attendees</td>
                <td>@item.CustomerId</td>
                <td>@item.TaskId</td>
                <td>

                    <div class="d-flex align-items-center">
                        <a asp-action="Edit" asp-route-id="@item.AppId" class="btn btn-warning me-2">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.AppId" class="btn btn-danger">Delete</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

