@model List<Customer>
@{
    ViewData["Title"] = "CustomerManagement";
}

<h3 class="heading">Customer Management</h3>

<form method="get" asp-action="CustomerManagement">
    <p>
        <input type="search" placeholder="Search" value="@ViewData["GetCustomerDetails"]" name="Customersearch" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="CustomerManagement" class="btn btn-secondary"> Get All Customers</a>
    </p>
</form>

<div class="row row-cols-1 row-cols-md-4 ">
    @foreach (var Customer in Model)
    {
        <div class="col">
            <div class="card m-3" style="min-width:18rem; max-width:30%;">
                <div class="card-header">
                    <h3 class="text-white"> @Customer.Title</h3>
                    <p> @Customer.PreferredName</p>
                </div>
                <div class="card-body text-center">
                    <p> @Customer.FirstName @Customer.MiddleName @Customer.Surname </p>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="CustomerView" asp-route-id="@Customer.CustomerId" class="btn btn-secondary">View</a>
                    <a asp-action="CustomerEdit" asp-route-id="@Customer.CustomerId" class="btn btn-primary">Edit</a>
                    <a asp-action="CustomerRemove" asp-route-id="@Customer.CustomerId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
